body {
    margin: 0px;
}
.home {
    position: relative;
    height: 100%;
    /* width: 100%; */  
}
.sidebar {
    /* float: left; */
    /* background-color: aquamarine; */
    position: fixed;
    width: 20%;
    height: 100%;
    padding-top: 80px;
}
.web {
    color: #000;
    opacity: 0.5;
}
.sidebar .profile {
    width: 100px;
    border-radius: 100%;
    border: 2px solid gray;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    
}
.sidebar .active {
    background-color: #f5f3f3;
    border-top: 1px solid #f5f3f3;
    border-right: 5px solid #f4c052;
}
.sidebar li {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
    
}
.sidebar li a {
    text-decoration: none;
    color: #000;
}

.container {
    background-image: url("./assets/home_page_bg_2.jpeg");
    background-position: center;
    background-size: cover;
    margin-left: 20%;
    /* height: 100vh; */
    /* background-color: blue; */
    /* position: relative; */
    color: #fff;
}
.container_mask {
    height: 100vh;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.619);
 }
 .text {
     padding-top: 100px;
     font-family: Arial, Helvetica, sans-serif;
 }
 .text h1 {
     font-size: 60px;
 }
 .text h3 {
    color: rgb(245, 245, 245);
    opacity: 0.4;
 }
 .u {
     text-decoration: underline orange;
     font-weight: bold;
     line-height: 50px;
 }