/* body {
   position: relative;
   top: 0px;
} */
.home {
    position: relative;
    height: 100%;
    /* width: 100%; */  
}
.sidebar {
    /* float: left; */
    /* background-color: aquamarine; */
    position: fixed;
    width: 20%;
    height: 100%;
    padding-top: 80px;
}
.web {
    color: #000;
    opacity: 0.5;
}
.sidebar .profile {
    width: 100px;
    border-radius: 100%;
    border: 2px solid gray;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    
}
.sidebar .active {
    background-color: #f5f3f3;
    border-top: 1px solid #dbdbdb;
    border-right: 5px solid #f4c052;
}
/* .active a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: ' ';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
} */
.sidebar li {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
    
}
.sidebar li a {
    text-decoration: none;
    color: #000;
}