/* body {
   position: relative;
   top: 0px;
} */
.home {
    position: relative;
    height: 100%;
    
}
.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    padding-top: 80px;
}
.web {
    color: #000;
    opacity: 0.5;
}
.sidebar .profile {
    width: 100px;
    border-radius: 100%;
    border: 2px solid gray;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    
}
.sidebar .active {
    background-color: #f5f3f3;
    border-top: 1px solid #dbdbdb;
    border-right: 5px solid #f4c052;
}
.sidebar li {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
    
}
.sidebar li a {
    text-decoration: none;
    color: #000;
}